<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <% @event_user.first_name %> et bienvenue chez nous !</h1>
    <p>Tu viens de créer un événement sur eventfreeka.fr en utilisant l'email suivant : <% @event_user.email %>.
</p>
    <p>Pour accéder à ton espace client, connecte-toi via : <% @url %>.</p>
    <p>A très vite sur eventfreeka.fr !</p>
  </body>
</html>