<footer class="mt-5 text-center bg-light">
  <!-- Grid container -->
  <div class="container p-4 pb-0 rounded">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Github -->
      <a class="btn text-white btn-floating m-1" style="background-color: #333333;"
      href="#!" role="button" ><i class="fa fa-github"></i></a>
      <!-- Linkedin -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"
        ><i class="fa fa-linkedin"></i>
      </a>
      <!-- Twitter -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #55acee;"
        href="#!"
        role="button"
        ><i class="fa fa-twitter"></i>
      </a>
    <aside><%= link_to "About US", "#" %></aside>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Made With ❤ By <a href="https://etp4a.com/">ETP4A</a>'s students <br/>
    &copy; <%= Time.now.year %> Copyright : <a href="https://etp4a.com/">ETP4A</a>
  </div>
  <!-- Copyright -->
</footer>
